*{
    box-sizing: border-box;
}

header{
    background-color: #81490a;
    padding: 10px 0 4px;
    color: ivory;
    position: fixed;
    width: 100%;

}
body{
    background-color: #FBF5EF;
    font-family:'Montserrat', sans-serif;
    font-size: 16px; 
  font-weight: 300; 
  line-height: 1.6; 
    color: #683c09;
}

h1, h2, h3, h4 {
    line-height: 1.4;
    color: #81490a;
}
h1 {
    font-size: 2.75em;
    font-weight: 700;
    color:#81490a;
}
h1 span{
    font-family: Pinyon Script;
    font-size: 1.5em;
    color: #81490a;
}
h2{
    color:#81490a;
    font-size: 2.25em;
    font-weight: 700;
}
.center h2 {
    margin-top: 15px;
}
h4 span{
    font-size: 18px;
    font-weight: 500;
}
h3{ 
    color:#81490a;
    font-size: 1.75em;
    font-weight: 400;
}

h4{
    font-size: 1.35em;
    font-weight: 400;
    color:#81490a;
}
img{
    width: 100%;
}
.logo{
    max-width: 150px;
    padding: 0 15px;
}
.socials{
    max-width: 30px;
}
.healing a{
    color: #81490a;
    text-decoration: underline;
}
 a{
    color:ivory;
    text-decoration: none;
}


a:hover{
    color:#F480A6;
    text-decoration: underline;
}
a:active {
    color:#440e20;
}

#contact{
    background-color: #81490a;
    color: ivory;
    text-align: center;

}
#hero{
    text-align: center;
}
#herointro{
    text-align: center;
    background-color:#814a0a14 ;
    padding: 10px;
    margin: 0;
}
#herointro a:hover {
    color: #F480A6;
}
#hero span{
    font-family:'Pinyon Script', cursive;
    font-size: 1.5em;
    margin: 15px;
}
#mystory{

    padding: 0 5px;
    margin-bottom: 50px;
    text-align: left;
}
#contact span{
    color: ivory;
    font-family: Montserrat;
    max-height: 44px;
}
#work h3{
    margin: 0 auto 15px 0;
}
.smaller {
    max-width: 80%;
    margin: 30px auto;
}



/*Layout styling*/
.container{
    padding: 0 15px;
}
.button{
    display:inline-block;
    background-color: #81490a;
    color: ivory;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    transition-duration: 0.2s;
    transition-property: solid #da5e88;
    margin-bottom: 10px;
}
.button:hover{
    /*reduces opacity of button to 80% */
    background-color: #F480A6;
    text-decoration: none;
    color:ivory;
}
.contact{
    text-decoration: underline;
    color: ivory;
}
.row{
    margin: 25px 0; /*25px top and bottom, 0 left and right*/
}
#work .row{
    padding-bottom: 25px; border-bottom: 1px solid #814a0a87;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.center{
    text-align: center;
}
nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#herointro a{
    color: #81490a;
    text-decoration: underline;
}
nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
}
.css-box-shadow{
	/*start ------------*/
	width: [object Object]px; 
	height: [object Object]px; 
	background: #814A0A; 
	border: solid #BDBDBD 0; 
	box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2)  ; 
	-webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2)  ; 
	-moz-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2)  ; 
}
main{
    padding-top: 56px;
}
#contact .container{
    padding: 5px;
}
.myself{
    max-width: 90%;
    display: block;
    margin: auto 20px 20px auto;
}
h6{
    margin: 5px auto;
}
.navtoggle li:not(:last-child) {
    display: none;
  }
  .navtoggle, .navtoggle.responsive {
    position: relative;
  }
  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
    padding-right: 15px;
  }
  .navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    border-top: 1px dotted #F480A6 ;
  }
 
  /* ==============================
Small devices (640px and smaller)
================================= */
  @media only screen and (max-width: 640px) {
 h1 {
    font-size: 1.6em;
 }
 h4 {
    font-size: 1em;
 }
 h5 {
    font-size: .9em;
 }
 #work div {
    padding: 0px 10px;
}

.title {
    max-width: 250px;
    margin-top: 30px;
    text-align: center;
}
.title2 {
    max-width: 100px;
}
.para1 {
    margin-top: 0px;
}

  }
  /* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }
    .navtoggle li:last-child {
        display: none;
      }
    nav > ul > li{
    display: inline-block;
    }
    .navtoggle li:not(:last-child) {
        display: inline-block;
      }
    nav {
        width: auto;
        float: right;
        margin-top: 10px;
        margin-right: 15px;
    }
    main {
        padding-top: 99px;
        font-size: 16px;
    }
    #skills .col-lg-5{
        padding-left: 55px;
    }
    .logo {
        max-width: 250px;
    }
    nav > ul {
        margin: 1em 0;
      }
    .myself img {
        max-width: 100%;
    }
    .title {
        max-width: 300px;
    }
    .title2 {
        max-width: 150px ;
    }
    .para1 {
        margin-top: 0px;
    }
}
    
[class*="col-"] {
  float: left;
    padding: 0 62px;
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }
    .logo {
        max-width: 250px;
    }
    .navtoggle li:last-child {
        display: none;
      }
    .col-lg-5 {
        width: 41.66%
    }


    .col-lg-7 {
        width: 58.33%;
        display: inline-block;
    }
    #skills .col-lg-7{
        padding-left: 172px;
    }
    .container {
    
        max-width: 1300px;
        margin-right: auto;
        margin-left: auto;
    }

    main{
        font-size: 18px;
    }

    .col-md-6 {
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        padding:  0 40px;
    }  
}
.viewbutton {
    text-align: center;
}
.berlin-illustration {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
    .navtoggle li:last-child {
        display: none;
    }
      }


/*css animation*/
@keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
  }

  .sun {
    animation: 4s color-change infinite alternate linear;
  }

  @keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
  }

  .cloud-front {
    animation: 30s cloud-move infinite alternate linear;
  }

@keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
  } 

  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }
